/* Google Nunito Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #ef4444;
  --color-secondary: #f97316;
  --color-accent: #10b981;
  --text-accent: #7c3aed;
  --color-base-200: #fff7ed;
  --color-base-300: #fffbf5;
}

/* Dark Theme */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #f87171;
  --color-secondary: #fbbf24;
  --color-accent: #22d3ee;
  --text-accent: #d8b4fe;
  --color-base-200: #1f2937;
  --color-base-300: #111827;
}

* {
  font-family: "Nunito", sans-serif;
}
